h1{
    text-align: center;
    color: aliceblue;
    background-color: rgb(201, 38, 38);
    border-bottom: 3px solid rgb(244, 244, 53);
}
#logo img{
    width: 6em;
    margin-bottom: 50px;
    background: rgb(201, 38, 38);
    border-radius: 35%;
    
}
header{
    height: 300px;
    background-color: rgb(201, 38, 38);
    background: url('../img/design1_image2.jpg');
}
h2{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: black;
    border: dashed 3px black;
    position: sticky;
    top: 30px;
    font-size: 22px;
}
a:hover{
    background-color: rgba(255, 211, 14, 0.925);
}
.img1 img{
    width: 15em;
    border-radius: 50%;
   
    margin-left: 40%;
}
h3 {
    background-color: rgb(85, 151, 124);
    text-align: center;
}
p{
    text-align: center;
}
figure #imagen{
    border-radius: 50%;
    width: 30%;
    position: relative;
    margin-top: 30px;
    left: 35%;
}
.container li{
   font-size: 22px;
   text-align: left;
   margin-right: 300px;
}
#sub_titulo_rules{
    background-color:rgb(244, 244, 53);
}
dd{
    font-size: 22px;
   text-align: left; 
   margin-right: 300px;
}
th{
    background:rgb(244, 244, 53) ;
}
td{
    background:rgb(212, 207, 203) ;
    padding: 10px;
}
.tabla{
    position: relative;
    left:500px;
}
.container2{
   position: relative;
   left: 400px;
 border:2px dashed black;
    width: 600px;
    margin-top: 10px;
    
}
.container p{
    display: block;
    font-size: 18px;
}